.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em auto;
  font-size: var(--title);
  text-align: center;
}

.weather-info img {
  min-width: 125px;
}

.weather-info .description {
  font-size: var(--subtitle);
}
