 * {
  padding: 0;
  border: 0;
  margin: 0;
 }

 :root {
    --dawn: linear-gradient(to bottom, #233072, #fda65a);
    --morning: linear-gradient(to bottom, #4dc3ff, #b3ffff);
    --afternoon: linear-gradient(to bottom,  #fda65a 0%,#ffe467 100%);
    --evening: linear-gradient(to bottom,  #f06b7e, #f9a856);
    --night: linear-gradient(to bottom,  #040b3c 0%,#233072 100%);

    --primary: #25a2e0;
    --primary-dark: #00537c;

    --light: #fcfeff;
    --dark: #2a2a30;

    --title: 48px;
    --subtitle: 28px;
    --subtitle-2: 22px;
    --text: 18px;
 }

 @media screen and (max-width: 640px) {
   :root {
      --title: 42px;
      --subtitle: 22px;
      --subtitle-2: 18px;
      --text: 14px;
   }
 }