.weather-panel {
  position: relative;
  background-color: #daf3ff;
  color: var(--dark);
  align-items: center;
  min-height: 275px;
  width: 100vw;
}

.switch-wrapper {
  margin-bottom: 100px;
}

.switch {
  position: absolute;
  left: 50%;
  top: 5px;
  background-color: var(--primary);
  color: white;
  border-radius: 40px;
  display: flex;
  margin-top: 1rem;
  margin-left: -90px;
  align-items: center;
  justify-content: space-around;
  max-width: 180px;
  padding: 0.75em 1.25em;
}

.switch p:not(:last-child) {
  margin-right: 10px;
}

.switch:hover {
  cursor: pointer;
}

.switch .active {
  background-color: white;
  color: var(--primary);
  padding: 1em 1.5em;
  border-radius: 30px;
  font-weight: 900;
}

.predictions {
  display: flex;
  padding: 1em 1.5em;
  overflow-x: scroll;
  scrollbar-color: var(--primary) rgba(0, 0, 0, 0);
}

.predictions::-webkit-scrollbar {
  height: 7px;
}

.predictions::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.predictions::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  cursor: pointer;
}

.predictions .detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0.75em;
  font-size: var(--text);
}

.predictions .detail svg {
  color: var(--primary);
  font-size: 34px;
  margin: 0.75em 0;
}

@media screen and (min-width: 840px) {
  .daily {
    justify-content: center;
  }
}
